{% extends 'base.html' %}

{% block title %}  {% endblock %}

{% block label %}



 {% endblock %}

{% if responseslength == 0 %}



{% endif %}



{% block option1 %}
{% if responseslength == 2 %}



{% else %}



{% endif %}

{% endblock %}

{% block option1label %}
{% if responseslength == 2 %}



{% else %}



{% endif %}
{% endblock %}

{% block option2 %}
{% if responseslength == 2 %}



{% else %}



{% endif %}
{% endblock %}

{% block option2label %}
{% if responseslength == 2 %}



{% else %}



{% endif %}
{% endblock %}


=





{% if responses %}
<h1>   and  </h1>
{% endif %}